.BoardStatistics {
    flex-direction: column;
    justify-content: center;
    border: dotted 0.5rem #282c34;
    border-radius: 5rem 5rem 1rem 1rem;
    overflow: hidden;
    padding: 1rem;
    transition: background-color 0.3s ease-in-out;
}

.BoardStatistics-zero {
    background-color: #fbb361;
}

.BoardStatistics-negative {
    background-color: #fb6161;
}

.BoardStatistics-positive {
    background-color: #63fb61;
}

.BoardStatisticItem+.BoardStatisticItem {
    border-top: dotted 0.5rem #282c34;
}

.BoardStatisticItem-succeeded {
    color: green;
}

.BoardStatisticItem-failed {
    color: red;
}