.BoardStatisticItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: Comfortaa;
    color: #282c34;
}

.BoardStatisticItem-label {
    font-size: calc(5px + 2vmin);
    white-space: nowrap;
    margin-right: 1rem;
}

.BoardStatisticItem-value {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: calc(15px + 2vmin);
    background-color: #fff;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.BoardStatisticItem-updating .BoardStatisticItem-value {
    animation-name: boardStatisticItemAnime;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: initial;
}

@keyframes boardStatisticItemAnime {

    0% {
        transform: scale(1.3);
    }

    60% {
        transform: scale(1.1);
    }

    30%,
    90% {
        transform: scale(1);
    }
}