.Start {
  position: relative;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.Start-finished-alert {
  z-index: 1000;
}

.Start-finished-alert-sleepy {
  background-color: #9461fb;
}

.Start-finished-alert-slow-mind-guy {
  background-color: #9461fb;
}

.Start-finished-alert-smart-guy {
  background-color: #32ba30;
}

.Start .BoardStatistics {
  flex-grow: 0;
  position: absolute;
  bottom: 1rem;
}