.AlertDialog,
.AlertDialog .Alert {
  position: absolute;
}

.AlertDialog {
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}

.AlertDialog .Alert {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}