.BoardCounterText {
    text-anchor: middle;
    font-size: 10em;
    font-family: "Overpass Mono";
    fill: #61dafb;
    opacity: 0;
    animation-name: boardCounterTextAnime;
    animation-duration: var(--duration);
    animation-timing-function: ease-in-out;
    animation-iteration-count: initial;
    animation-delay: var(--delay);
}

@keyframes boardCounterTextAnime {

    0%,
    15%,
    100% {
        opacity: 0;
    }

    7.5%,
    10% {
        opacity: 1;
    }
}