.BoardCounter,
.BoardCounter-blurry,
.BoardCounter-surface {
    position: absolute;
    width: 100%;
    height: 100%;
}

.BoardCounter {
    z-index: 1000;
}

.BoardCounter-exit {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.BoardCounter-exit-active {
    opacity: 0;
    transform: scale(10);
}

.BoardCounter-blurry {
    backdrop-filter: blur(10px);
}

.BoardCounter-circle {
    fill: #ffffff0d;
}