.BoardSurfacePersonItemPreviewDragLayer {
    position: fixed;
    pointer-events: none;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.BoardSurfacePersonItemPreviewDragLayer-floating {
    transform: translate(var(--x), var(--y));
}