.BoardSurfacePersonItem {
    position: absolute;
    background-color: #ffffff0d;
    padding: 1rem;
    display: flex;
    border: dotted 0.5rem #282c34;
    cursor: move;
    border-radius: 2rem;
}

.BoardSurfacePersonItem-dragging {
    opacity: 0.5;
}

.BoardSurfacePersonItem-num {
    position: absolute;
    background-color: #ffffff83;
    border-radius: 1rem 0 1rem 0;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1rem;
    left: 1rem;
}

.BoardSurfacePersonItem-picture {
    border-radius: 1rem;
    pointer-events: none;
}

.BoardSurfacePersonItem-portrait {
    --heightFactor: 20rem;
    width: 20rem;
    height: 29rem;
}

.BoardSurfacePersonItem-portrait .BoardSurfacePersonItem-picture {
    width: 100%;
}

.BoardSurfacePersonItem-landscape {
    --heightFactor: 37.5rem;
    width: 30rem;
    height: 20rem;
}

.BoardSurfacePersonItem-landscape .BoardSurfacePersonItem-picture {
    height: 100%;
}