.BoardSurfaceCountryItem {
    position: absolute;
    background-color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border: dotted 0.5rem #282c34;
    border-radius: 1rem;
    transition: transform 0.3s ease-in-out;
}

.BoardSurfaceCountryItem-dropping {
    transform: scale(1.2);
}

.BoardSurfaceCountryItem-name {
    font-family: Comfortaa;
    color: #282c34;
    background-color: #fbb361;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}