.BoardSurfacePersonItemPreview {
    position: absolute;
    background-color: #fbb361;
    padding: 1rem;
    display: flex;
    border: dotted 0.5rem #282c34;
    cursor: move;
    border-radius: 2rem;
    transform: rotate(-7deg) scale(0.5);
}

.BoardSurfacePersonItemPreview-picture {
    border-radius: 1rem;
    pointer-events: none;
}

.BoardSurfacePersonItemPreview-portrait {
    --heightFactor: 20rem;
    width: 20rem;
    height: 29rem;
}

.BoardSurfacePersonItemPreview-portrait .BoardSurfacePersonItemPreview-picture {
    width: 100%;
}

.BoardSurfacePersonItemPreview-landscape {
    --heightFactor: 37.5rem;
    width: 30rem;
    height: 20rem;
}

.BoardSurfacePersonItemPreview-landscape .BoardSurfacePersonItemPreview-picture {
    height: 100%;
}