.BoardSurface {
    position: relative;
    align-self: stretch;
    margin: 1rem;
    justify-content: center;
}

.BoardSurfaceCountryItem-0 {
    top: 0;
    left: 0;
}

.BoardSurfaceCountryItem-1 {
    top: 0;
    right: 0;
}

.BoardSurfaceCountryItem-2 {
    bottom: 0;
    right: 0;
}

.BoardSurfaceCountryItem-3 {
    bottom: 0;
    left: 0;
}

.BoardSurface .BoardSurfaceCountryItem-0 {
    border-bottom-right-radius: 5rem;
    transform-origin: top left;
}

.BoardSurface .BoardSurfaceCountryItem-1 {
    border-bottom-left-radius: 5rem;
    transform-origin: top right;
}

.BoardSurface .BoardSurfaceCountryItem-2 {
    border-top-left-radius: 5rem;
    transform-origin: bottom right;
}

.BoardSurface .BoardSurfaceCountryItem-3 {
    border-top-right-radius: 5rem;
    transform-origin: bottom left;
}

.BoardSurfacePersonItem-centered {
    animation-name: boardSurfacePersonItemAnime;
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: initial;
}

@keyframes boardSurfacePersonItemAnime {
    0% {
        opacity: 0;
        top: 1rem;
    }

    10%,
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: calc(var(--heightFactor) * 0.5);
    }
}