.Alert {
  padding: 1rem;
  margin: 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: white;
  border: dotted 0.5rem #282c34;
  border-radius: 1rem 5rem;
  max-width: 780px;
}

.Alert-logo {
  background-color: #ffc107;
  padding: 1rem;
}

.Alert-logo-img {
  height: 5vmin;
  pointer-events: none;
  display: block;
}

.Alert-content {
  flex-direction: column;
}

.Alert-content-title {
  color: #ffc107;
  margin: 0;
  line-height: 5vmin;
  text-transform: uppercase;
}

.Alert-content-message {
  margin: 0.75rem 0 1.5rem;
  font-family: 'Comfortaa';
}

.Alert-content-actions {
  text-align: right;
}

.Alert-content-actions a,
.Alert-content-actions button {
  color: #FFEB3B;
  background-color: #00000061;
  padding: 0.25rem 1rem;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.Alert-content-actions button {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

.Alert-content-actions a:hover,
.Alert-content-actions button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #282c3463;
}

@media (max-width: 1279px) {
  .Alert {
    flex-direction: column;
    align-items: center;
  }

  .Alert-logo {
    border-radius: 2.5rem;
    margin-bottom: 1rem;
  }

  .Alert-content {
    text-align: center;
  }
}

@media (min-width: 1280px) {
  .Alert {
    flex-direction: row;
  }

  .Alert-logo {
    border-radius: 0.5rem 0.5rem 2.5rem 0.5rem;
    margin-right: 1rem;
  }
}