@import 'typography.css';

body {
  margin: 0;
  font-family: 'Lalezar', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  line-height: 1.25em;
}