.Nav {
  display: flex;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  background-color: #ffffff0d;
}

.Nav-primary,
.Nav-secondary {
  display: flex;
}

@media (max-width: 779px) {

  .Nav,
  .Nav-primary,
  .Nav-secondary {
    flex-direction: column;
  }

  .Nav .Nav-link {
    text-align: center;
  }
}

@media (min-width: 780px) and (max-width: 1279px) {

  .Nav,
  .Nav-primary,
  .Nav-secondary {
    flex-direction: row;
  }
}

@media (min-width: 1280px) {

  .Nav,
  .Nav-primary,
  .Nav-secondary {
    flex-direction: column;
  }

  .Nav {
    width: 20rem;
    flex-shrink: 0;
  }
}