.Nav-link {
  color: #61dafb;
  white-space: nowrap;
  font-family: 'Audiowide';
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  padding: 1rem 2rem;
}

.Nav-link:hover,
.Nav-link-active {
  color: #fff;
}

.Nav-link:hover:not(.Nav-link-active) {
  background-color: #282c3463;
}

.Nav-link-active {
  background-color: #282c34;
}

.Nav-link-icon+.Nav-link-text {
  margin-left: 1rem;
}